<!doctype html>
<html lang="en">


  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>ToDo Heroku</title>
  </head>


  <body>
    <div id="app">
      <div class="container">
          <br>
          <h2>ToDo List</h2>
          <p>Samuel Brati Favarin </p>
          <p style="margin-top: -20px">Using Node + Express + Vue + Heroku: </p>

          <hr>
            <div class="row" style="padding: 15px">
              <input v-model="title" class="form-control col-md-11" type="text" placeholder="Digite aqui sua tarefa">
              <button class="form-control col-md-1 btn btn-primary" @click="app.create()">Adicionar</button>
            </div>


          <ul v-for="task in list" class="list-group">
            <li v-if="task.deleted === 0" class="list-group-item">
              <div class="row">
                <p class="col-md-11">{{task.title}}</p>
                <button class="col-md-1 btn btn-danger" @click="app.delete(task.id)">Remover</button>
              </div>
            </li>
          </ul>
      </div>
    </div>


    <!-- incluindo vue no projeto -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- incluindo vue request no projeto  -->
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <!-- incluindo bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- vue.js -->
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          list: null,
          title: null
        },

        mounted (){
          this.getList()
        },

        methods: {
          delete(id){
            this.$http.get('/remove', {params: {
              'id': id
            }
            }).then(response => {
              this.list = JSON.parse(JSON.stringify(response.body))
            }, response => {
            // error callback
            });
          },

          create(){
            var _this = this
            this.$http.get('/add', {params: {
              'title': _this.title
            }
            }).then(response => {
              this.list = JSON.parse(JSON.stringify(response.body))
              _this.title = null
            }, response => {
              _this.title = null
            });
          },

          getList() {
            this.$http.get('/list').then(response => {
              this.list = JSON.parse(JSON.stringify(response.body))
            }, response => {
            // error callback
            });
          }

        }
      })
    </script>

  </body>
</html>
